<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>
      body{
         background: url("/static/image/student1.jfif") no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
  }
      label{
        color: white;
        font-size: 20px;
      }

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "quiz/navbar.html" %}
 


<br><br><br>
<h1 style="text-align: center;color: black;"><b>STUDENT SIGNUP</b></h1>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username" style="color: black">Username : </label>
        {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="username" %}
      </div>
      <div class="form-group col-md-6" style="color: black">
        <label for="inputPassword4" style="color: black">Password : </label>
        {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="password" %}
      </div>
    </div>

    <div class="form-row" style="color: black">
        <div class="form-group col-md-6" style="color: black">
          <label for="first_name" style="color: black">First Name : </label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control" placeholder="First Name" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name" style="color: black">Last Name : </label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile" style="color: black">Mobile : </label>
          {% render_field studentForm.mobile|attr:'required:true'  class="form-control" placeholder="Mobile" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address" style="color: black">Address : </label>
          {% render_field studentForm.address|attr:'required:true'  class="form-control" placeholder="Address" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic" style="color: black">Profile Picture</label>
          {% render_field studentForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>


<br><br>
{% include "quiz/footer.html" %}
  </body>
</html>
